* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    background-color: orange;
    top: 0;
    left: 0;
     z-index: 500; 

}

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 10%;
    }

    .nav a {
        color: white;
        font-size: 15px;
        text-decoration: none;
        padding-left: 5px;
    }
    
    .logo {
        width: 25%;
        padding-left: 35%;
        padding-right: 35%;
    }

/* MAIN */
    .row-img {
        display: flex;
        align-items: center;
        margin: 5% 10%;
    }

    .prodotto {
        width: 100%;
        position: relative;
    }

    .prodotto img {
        width: 80%;
    }

        .immagini  {
            position: relative
        }

        .item1-1{
            width: 50%;
            position: absolute;
            display: none;
            bottom: 0;
            top: 0;
        }

        .immagini:hover .item1-1 {
            display: block;
        }


    .red-txt {
        font-weight: bold;
        color: red;
    }

    .immagini > .sconto {
        position: absolute;
        bottom: 50px;
        left: 0;
        padding: 5px 10px;
        background-color: red;
        color: white;
        font-weight: bold;
  
    }

    .immagini > .tipo {
        position: absolute;
        bottom: 50px;
        padding: 5px 10px;
        left: 65px;
        color: white;
        font-weight: bold;
        background-color: green; 
    }
    
    .immagini > .tipo-single {
        position: absolute;
        bottom: 50px;
        padding: 5px 10px;
        left: 0;
        color: white;
        font-weight: bold;
        background-color: green; 
    }

    .heart {
        position: absolute;
        font-size: 40px;
        background-color: white;
        padding: 10px 10px;
        top: 50px;
        right: 100px;
    }
/* FOOTER */

footer {
    
    background-color: black;
    padding-top: 10px;
    margin-top: 5%;
}

    .white {
        color: white;
    }

    .text-center {
        text-align: center;
    }

